.top-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.top-section>div {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 2rem;
}

.top-section>div>img,
.top-section>div>p {
    display: flex;
    flex: 1;
}

.top-section>div>img {
    width: 25rem;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px #000
}

.first-line>p {
    text-align: left;
    font-size: 1.25rem;
}

.conteudo-agricultura {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.texto>ol {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    list-style: none;
    counter-reset: item;
}

.texto ol li {
    width: 70%;
    font-size: 1.25rem;
    text-align: start;
    counter-increment: item;
}

ol li::before {
    content: counter(item)"- ";
    color: #fff;
    margin-right: 10px;
}

.conteudo-agricultura h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.50rem;
    margin-top: 2rem;
}

.conteudo-agricultura>img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    width: 800px;
    height: auto;
    border-radius: 5px;
    max-width: 80%;
    box-shadow: 0 2px 6px #000
}

.conteudo-agricultura p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.25rem;
}

.conteudo-agricultura li {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.55rem;
    font-weight: bolder;
}

p.saiba-agricultura {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

@media (max-width:500px) {
    .conteudo-agricultura h1 {
        font-size: 2rem;
    }

    .conteudo-agricultura p {
        font-size: 1rem
    }

    .first-line>p {
        font-size: 1rem;
    }

    .texto ol li {
        font-size: 1rem;
    }

    p.saiba-agricultura {
        font-size: 1rem;
    }
}
