*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #87CEFA;
}
.cabecalho{
    display: flex;
    align-items: center;
    background-image: url('../img/header.jpeg');
}
.cabecalho img{
    width: 15%;
    height: 15%;
    margin: -40px 0 -40px 43% ;
}
